[submodule "Finances"]
	path = Finances
	url = https://github.com/G3Labz/Finances
[submodule "housesheet"]
	path = housesheet
	url = https://github.com/G3Labz/housesheet
[submodule "storeroom"]
	path = storeroom
	url = https://github.com/G3Labz/storeroom
[submodule "glorified-todo"]
	path = glorified-todo
	url = https://github.com/G3Labz/glorified-todo.git
[submodule "lifeboard-multi-php"]
	path = lifeboard-multi-php
	url = https://github.com/G3Labz/lifeboard-multi-php.git
[submodule "lifeboard-legacy"]
	path = lifeboard-legacy
	url = https://github.com/G3Labz/lifeboard-legacy.git
